 form {
   background: rgba(255, 238, 238, 0.7);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
   padding: 20px;
 }

 div.wrapper {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-gap: 10px;
 }

 div.wrapper label {
   text-align: center;
   color: black;
   /* background: linear-gradient(to bottom,
       #ff512f,
       #dd2476); */
 }

 div.wrapper input {
   width: 100%;
 }

 /* .bg {
    background: url('/CustomerClientApp/assets/cp1.jpg') no-repeat center / cover;
  } */

 /* table {
  margin: auto;
  width: 75%;
  text-align: center;
  font-family: --Lobster;
} */
