@*<!--@{
        ViewData["Title"] = "Home Page";
    }
    @ViewData["X1"]
    <br />
    @ViewBag.X1

    @TempData["X2"]
    @TempData["X2"]-->*@
@*@{
        //instruct mvc to preserve tempdata
        TempData.Keep("X1");
        string str = (string) TempData.Peek("X2"); //peek is read + keep
    }*@
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="Customer/AddScreen">add new customer</a>
<br />
<a href="Customer/SearchScreen">search customer</a>
<br />
<a href="Customer/IdScreen">show id of customer</a>
<br />

<script src="~/lib/jquery/dist/jquery.js"></script>-->
@*used to see middleware logging*@

@{
    Layout = null;
    //Layout = "_Layout";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CustomerClientApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/CustomerClientApp/styles.css">
</head>
<body class="mat-typography">
    <app-root></app-root>
    <script src="/CustomerClientApp/runtime.js" defer></script>
    <script src="/CustomerClientApp/polyfills.js" defer></script>
    <script src="/CustomerClientApp/vendor.js" defer></script>
    <script src="/CustomerClientApp/main.js" defer></script>
</body>
</html>





